<%-include('partials/header.ejs') %>

<div id="settingsBox">
 <a href ="#">Change Username</a>
  <a href ="#">Delete Data</a>
  <a href ="#">Log Out</a> </div> 

<%-include('partials/footer.ejs') %>

<script>
//add JS for logout
</script>