body {
  background-color: rgb(160, 157, 156);
}

/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
 background-color:seashell;
 text-align: center;
}
nav a {

  padding: 5px 100px;
  background-color: lightcoral;
  color:seashell;
  text-align: center;
  font-size: 25px;
} */

#mainContent{
   display: flex;
   flex-direction: column;
 justify-content: center;
 align-items: center;
}
.imgBox
{
  padding: 2px;
  flex-grow: 1;
}
.movieBox{
  background-color: grey;
  display: flex;
 justify-content: left;
  text-align: center;
  width: 75%;
  padding: 5px;
  border: 2px black solid;
 
}

.movieInfoBox {
  padding: 5px;
  flex-grow: 2;
}
.movieTitleText {
  font-size: 32px;
  text-align: center;
}
.movieDescText {
  font-size: 27px;
  text-align: center;
}

#requestList {
  background-color: lightblue;
    height: 100px;
    overflow: auto;
    width: 75%;
}
#settingsBox{
  background-color: grey;
     display: flex;
   flex-direction: column;
   text-align: center;
 align-items: space-around;
 justify-content: space-around;
 width: 75%;
  padding: 5px;
  border: 2px black solid;

}

#settingsBox a{
  padding: 5px 100px;
  background-color: lightcoral;
  color:seashell;
  text-align: center;
  font-size: 25px;
   border: 2px black solid;

}


footer{
    padding: 5px 100px;
  background-color: lightcoral;
}



.rating:hover > span:before {
  color: rgb(218, 178, 3);
}
.bi-trash {
  color: rgb(17, 15, 5);
  font-size: 2rem;
}
.bi-trash:hover {
   color: rgb(218, 178, 3);

}
.bi-trash-fill {
  color: rgb(255, 208, 0);
 
  font-size: 2rem;
}

.bi-trash-fill:hover {
   color: rgb(218, 178, 3);

}

textarea {
  height:200px;
}

